In [89]:
import pandas as pd

In [90]:
# 1.Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
df = pd.read_csv(r'C:\Users\DELL\Desktop\Desktop\Data Science\Notes\PANDAS\Data set for pandas class 2\AgentPerformance.csv')
df['Converted_Date'] = pd.to_datetime(df['Date'])
df['Week'] = df['Converted_Date'].dt.week
df['Agent_Name_Week']=df['Agent Name']+df['Week'].astype(str)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12900\2219456471.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['Week'] = df['Converted_Date'].dt.week

In [91]:
# To check for the fact that if the total chats = 0 then the person is on leave or absent
df[((df['Total Chats']==0) & (df['Average Response Time']!='0:00:00')) | (df['Total Chats']==0) & (df['Average Resolution Time']!='0:00:00') | (df['Total Chats']==0) & (df['Average Rating']!=0)]

Empty DataFrame
Columns: [SL No, Date, Agent Name, Total Chats, Average Response Time, Average Resolution Time, Average Rating, Total Feedback, Converted_Date, Week, Agent_Name_Week]
Index: []

In [92]:
# Dropping the rows where the person is on leave or absent
df1 = df.drop(df[df['Total Chats']==0].index)

In [133]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Converted_Date,Week,Agent_Name_Week,Converted_ART,ART_Time
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9,2022-07-30,30,Prerna Singh30,2022-10-01 00:00:38,00:00:38
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,2022-07-30,30,Nandani Gupta30,2022-10-01 00:01:15,00:01:15
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11,2022-07-30,30,Ameya Jain30,2022-10-01 00:00:30,00:00:30
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,2022-07-30,30,Mahesh Sarade30,2022-10-01 00:01:04,00:01:04
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6,2022-07-30,30,Swati 30,2022-10-01 00:01:11,00:01:11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0,2022-07-01,26,Sowmiya Sivakumar26,2022-10-01 00:00:00,00:00:00
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0,2022-07-01,26,Nitin M26,2022-10-01 00:00:00,00:00:00
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0,2022-07-01,26,Vivek 26,2022-10-01 00:00:00,00:00:00
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0,2022-07-01,26,Ayushi Mishra26,2022-10-01 00:00:00,00:00:00
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0,2022-07-01,26,Chaitra K Hiremath26,2022-10-01 00:00:00,00:00:00

In [93]:
# Final answer
df2 = df1.groupby('Agent_Name_Week')['Average Rating'].mean()
df2

Agent_Name_Week
Aditya Shinde26    3.850
Aditya Shinde27    4.516
Aditya Shinde28    4.746
Aditya_iot 27      4.315
Aditya_iot 28      4.100
                   ...
Wasim 30           4.298
Zeeshan 27         4.575
Zeeshan 28         4.128
Zeeshan 29         4.452
Zeeshan 30         4.140
Name: Average Rating, Length: 182, dtype: float64

In [94]:
#Total working days for each agents 
df1.groupby('Agent Name')['Week'].count()

Agent Name
Aditya Shinde             12
Aditya_iot                17
Ameya Jain                15
Anirudh                    7
Ankitjha                   3
Anurag Tiwari              2
Aravind                   14
Ashad Nasim                2
Ayushi Mishra             24
Bharath                   19
Boktiar Ahmed Bappy       26
Chaitra K Hiremath         6
Deepranjan Gupta          21
Dibyanshu                  1
Harikrishnan Shaji        19
Hitesh Choudhary           1
Hrisikesh Neogi           21
Ishawant Kumar            24
Jawala Prakash            25
Jayant Kumar               8
Jaydeep Dixit             21
Khushboo Priya            26
Madhulika G               24
Mahak                      1
Mahesh Sarade             18
Maitry                    20
Maneesh                    3
Manjunatha A              25
Mithun S                  18
Mukesh                     2
Mukesh Rao                 3
Muskan Garg                5
Nandani Gupta             21
Nishtha Jain              23
Prabir Kumar Satapathy    17
Prateek _iot              17
Prerna Singh              22
Rishav Dash               21
Saikumarreddy N           13
Samprit                    1
Sandipan Saha              3
Sanjeev Kumar             23
Saurabh Shukla             4
Shiva Srivastava           7
Shivan K                  22
Shivan_S                   1
Shivananda Sonwane        28
Shubham Sharma            21
Sowmiya Sivakumar          9
Sudhanshu Kumar            2
Suraj S Bilgi              2
Swati                     17
Tarun                      1
Vivek                      5
Wasim                     16
Zeeshan                   16
Name: Week, dtype: int64

In [87]:
# 3. Total query that you hvae taken or the total number of chats
df1.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Aditya Shinde             277
Aditya_iot                231
Ameya Jain                322
Anirudh                    81
Ankitjha                    5
Anurag Tiwari               4
Aravind                   366
Ashad Nasim                18
Ayushi Mishra             514
Bharath                   369
Boktiar Ahmed Bappy       452
Chaitra K Hiremath         64
Deepranjan Gupta          493
Dibyanshu                   1
Harikrishnan Shaji        381
Hitesh Choudhary            1
Hrisikesh Neogi           578
Ishawant Kumar            338
Jawala Prakash            439
Jayant Kumar              127
Jaydeep Dixit             512
Khushboo Priya            446
Madhulika G               469
Mahak                       7
Mahesh Sarade             364
Maitry                    542
Maneesh                     4
Manjunatha A              413
Mithun S                  503
Mukesh                     19
Mukesh Rao                  5
Muskan Garg                56
Nandani Gupta             560
Nishtha Jain              373
Prabir Kumar Satapathy    299
Prateek _iot              190
Prerna Singh              401
Rishav Dash               409
Saikumarreddy N           364
Samprit                     1
Sandipan Saha              30
Sanjeev Kumar             507
Saurabh Shukla             16
Shiva Srivastava           53
Shivan K                  357
Shivan_S                    7
Shivananda Sonwane        441
Shubham Sharma            510
Sowmiya Sivakumar         206
Sudhanshu Kumar             2
Suraj S Bilgi              28
Swati                     524
Tarun                      22
Vivek                      44
Wasim                     433
Zeeshan                   542
Name: Total Chats, dtype: int64

In [95]:
# 4. total Feedback that you have received 
df1.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Aditya Shinde             153
Aditya_iot                131
Ameya Jain                228
Anirudh                    39
Ankitjha                    3
Anurag Tiwari               3
Aravind                   233
Ashad Nasim                 9
Ayushi Mishra             329
Bharath                   247
Boktiar Ahmed Bappy       311
Chaitra K Hiremath         37
Deepranjan Gupta          312
Dibyanshu                   0
Harikrishnan Shaji        231
Hitesh Choudhary            0
Hrisikesh Neogi           367
Ishawant Kumar            202
Jawala Prakash            250
Jayant Kumar               70
Jaydeep Dixit             305
Khushboo Priya            289
Madhulika G               281
Mahak                       5
Mahesh Sarade             216
Maitry                    347
Maneesh                     3
Manjunatha A              254
Mithun S                  364
Mukesh                     17
Mukesh Rao                  5
Muskan Garg                37
Nandani Gupta             308
Nishtha Jain              257
Prabir Kumar Satapathy    222
Prateek _iot              107
Prerna Singh              235
Rishav Dash               264
Saikumarreddy N           290
Samprit                     0
Sandipan Saha              18
Sanjeev Kumar             311
Saurabh Shukla              8
Shiva Srivastava           46
Shivan K                  243
Shivan_S                    4
Shivananda Sonwane        263
Shubham Sharma            300
Sowmiya Sivakumar         141
Sudhanshu Kumar             2
Suraj S Bilgi              15
Swati                     302
Tarun                       6
Vivek                      20
Wasim                     284
Zeeshan                   335
Name: Total Feedback, dtype: int64

In [100]:
# 5. a agent name who have average rating between 3.5 to 4 
df2 = df1[(df1['Average Rating']<=4) & (df1['Average Rating']>=3.5)]
df2['Agent Name'].unique()

array(['Swati ', 'Manjunatha A', 'Boktiar Ahmed Bappy', 'Prateek _iot ',
       'Nandani Gupta', 'Jaydeep Dixit', 'Mahesh Sarade', 'Zeeshan ',
       'Hrisikesh Neogi', 'Muskan Garg', 'Khushboo Priya', 'Wasim ',
       'Jawala Prakash', 'Shiva Srivastava', 'Nishtha Jain', 'Maitry ',
       'Prerna Singh', 'Shivan K', 'Chaitra K Hiremath',
       'Harikrishnan Shaji', 'Deepranjan Gupta', 'Madhulika G',
       'Rishav Dash', 'Prabir Kumar Satapathy', 'Mithun S', 'Aditya_iot ',
       'Ishawant Kumar', 'Ayushi Mishra', 'Shivananda Sonwane',
       'Ameya Jain', 'Sanjeev Kumar', 'Sandipan Saha', 'Anirudh ',
       'Jayant Kumar', 'Maneesh ', 'Anurag Tiwari', 'Saurabh Shukla',
       'Ashad Nasim', 'Shubham Sharma', 'Aditya Shinde'], dtype=object)

In [102]:
# 6 . Agent name who have rating lesss then 3.5
df2 = df1[(df1['Average Rating']<=3.5)]
df2['Agent Name'].unique()

array(['Nandani Gupta', 'Jawala Prakash', 'Sowmiya Sivakumar',
       'Shiva Srivastava', 'Aditya_iot ', 'Nishtha Jain',
       'Boktiar Ahmed Bappy', 'Ankitjha ', 'Chaitra K Hiremath',
       'Mithun S', 'Mahesh Sarade', 'Ishawant Kumar', 'Deepranjan Gupta',
       'Ayushi Mishra', 'Khushboo Priya', 'Hitesh Choudhary',
       'Rishav Dash', 'Vivek ', 'Harikrishnan Shaji', 'Anirudh ',
       'Anurag Tiwari', 'Mukesh Rao ', 'Jayant Kumar', 'Sanjeev Kumar',
       'Maneesh ', 'Prateek _iot ', 'Dibyanshu ', 'Shivan K',
       'Manjunatha A', 'Ashad Nasim', 'Mahak ', 'Samprit ',
       'Shivananda Sonwane', 'Prerna Singh', 'Saurabh Shukla', 'Tarun '],
      dtype=object)

In [101]:
# 7 . agent name who have rating more then 4.5 
df2 = df1[(df1['Average Rating']>=4)]
df2['Agent Name'].unique()

array(['Prerna Singh', 'Ameya Jain', 'Mahesh Sarade', 'Mukesh ',
       'Saikumarreddy N', 'Sanjeev Kumar', 'Shubham Sharma',
       'Nishtha Jain', 'Khushboo Priya', 'Suraj S Bilgi',
       'Harikrishnan Shaji', 'Hrisikesh Neogi', 'Shivan K',
       'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Shiva Srivastava', 'Muskan Garg',
       'Aditya_iot ', 'Chaitra K Hiremath', 'Rishav Dash', 'Wasim ',
       'Prabir Kumar Satapathy', 'Bharath ', 'Jawala Prakash',
       'Ayushi Mishra', 'Prateek _iot ', 'Jaydeep Dixit', 'Zeeshan ',
       'Manjunatha A', 'Nandani Gupta', 'Maitry ', 'Swati ', 'Aravind ',
       'Sudhanshu Kumar', 'Aditya Shinde', 'Sandipan Saha',
       'Jayant Kumar', 'Anirudh ', 'Saurabh Shukla', 'Maneesh ',
       'Mukesh Rao ', 'Shivan_S ', 'Vivek ', 'Ashad Nasim', 'Ankitjha '],
      dtype=object)

In [103]:
# 8 . how many feedaback agents have received more then 4.5 average
df2 = df1[(df1['Total Feedback']>=4)]
df2['Agent Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Boktiar Ahmed Bappy', 'Deepranjan Gupta', 'Shivananda Sonwane',
       'Shiva Srivastava', 'Muskan Garg', 'Prateek _iot ', 'Aditya_iot ',
       'Jaydeep Dixit', 'Zeeshan ', 'Chaitra K Hiremath', 'Rishav Dash',
       'Wasim ', 'Prabir Kumar Satapathy', 'Bharath ', 'Ishawant Kumar',
       'Jawala Prakash', 'Ayushi Mishra', 'Maitry ', 'Aravind ',
       'Aditya Shinde', 'Sandipan Saha', 'Anirudh ', 'Vivek ',
       'Jayant Kumar', 'Shivan_S ', 'Ashad Nasim', 'Mahak ', 'Tarun '],
      dtype=object)

In [136]:
# 9 . average weekly response time for each agent
df1['Converted_ART'] = pd.to_datetime(df1['Average Response Time'])
df1['ART_Min_Sec'] = df1['Converted_ART'].dt.minute * 60 + df1['Converted_ART'].dt.second
df1.groupby('Agent_Name_Week')['ART_Min_Sec'].mean()

Agent_Name_Week
Aditya Shinde26     83.00
Aditya Shinde27     66.20
Aditya Shinde28     79.00
Aditya_iot 27       70.50
Aditya_iot 28       72.80
                    ...
Wasim 30            60.60
Zeeshan 27          82.50
Zeeshan 28         172.80
Zeeshan 29          88.00
Zeeshan 30          95.75
Name: ART_Min_Sec, Length: 182, dtype: float64

In [144]:
# 10 . average weekely resolution time for each agents 
df1['Converted_ART'] = pd.to_datetime(df1['Average Resolution Time'])
df1['ART_Min_Sec'] = df1['Converted_ART'].dt.minute * 60*60 + df1['Converted_ART'].dt.minute * 60 + df1['Converted_ART'].dt.second
df1.groupby('Agent_Name_Week')['ART_Min_Sec'].mean()
#All data average in seconds

Agent_Name_Week
Aditya Shinde26     82390.50
Aditya Shinde27     76145.40
Aditya Shinde28    114222.20
Aditya_iot 27       64084.50
Aditya_iot 28       75435.40
                     ...
Wasim 30            75425.80
Zeeshan 27          67730.50
Zeeshan 28          82738.00
Zeeshan 29          65912.00
Zeeshan 30          69560.25
Name: ART_Min_Sec, Length: 182, dtype: float64

In [147]:
# if above data reuired in min then below code
df1['ART_Min_Sec'] = df1['Converted_ART'].dt.hour*60 + df1['Converted_ART'].dt.minute + ((df1['Converted_ART'].dt.second)/3600)
df1.groupby('Agent_Name_Week')['ART_Min_Sec'].mean()

Agent_Name_Week
Aditya Shinde26    22.511250
Aditya Shinde27    20.804833
Aditya Shinde28    31.208389
Aditya_iot 27      17.509583
Aditya_iot 28      20.610944
                     ...
Wasim 30           20.608278
Zeeshan 27         18.505694
Zeeshan 28         22.606111
Zeeshan 29         18.008889
Zeeshan 30         19.005625
Name: ART_Min_Sec, Length: 182, dtype: float64

In [150]:
# 11 . list of all agents name 
df['Agent Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

In [156]:
# 12 . percentage of chat on which they have received a feedback
df1['Percent_Feedback_Chats'] = ((df1['Total Feedback'])/df1['Total Chats'])*100

In [158]:
df1.groupby('Agent Name')['Percent_Feedback_Chats'].mean()

Agent Name
Aditya Shinde              58.067722
Aditya_iot                 60.188561
Ameya Jain                 72.044205
Anirudh                    45.245945
Ankitjha                   55.555556
Anurag Tiwari              83.333333
Aravind                    67.195732
Ashad Nasim                56.666667
Ayushi Mishra              65.015273
Bharath                    67.458789
Boktiar Ahmed Bappy        67.176033
Chaitra K Hiremath         64.871795
Deepranjan Gupta           63.677451
Dibyanshu                   0.000000
Harikrishnan Shaji         60.255298
Hitesh Choudhary            0.000000
Hrisikesh Neogi            65.048031
Ishawant Kumar             65.803199
Jawala Prakash             59.600051
Jayant Kumar               51.798749
Jaydeep Dixit              59.162463
Khushboo Priya             66.021210
Madhulika G                61.815332
Mahak                      71.428571
Mahesh Sarade              59.797493
Maitry                     66.256270
Maneesh                    66.666667
Manjunatha A               60.058076
Mithun S                   74.197945
Mukesh                     89.444444
Mukesh Rao                100.000000
Muskan Garg                61.652759
Nandani Gupta              57.052685
Nishtha Jain               69.046865
Prabir Kumar Satapathy     74.188141
Prateek _iot               53.421913
Prerna Singh               58.332611
Rishav Dash                62.630945
Saikumarreddy N            79.701407
Samprit                     0.000000
Sandipan Saha              69.814815
Sanjeev Kumar              60.719812
Saurabh Shukla             69.642857
Shiva Srivastava           90.479164
Shivan K                   59.417746
Shivan_S                   57.142857
Shivananda Sonwane         59.089751
Shubham Sharma             59.914073
Sowmiya Sivakumar          68.665086
Sudhanshu Kumar           100.000000
Suraj S Bilgi              52.500000
Swati                      57.045829
Tarun                      27.272727
Vivek                      47.666667
Wasim                      66.449262
Zeeshan                    65.002151
Name: Percent_Feedback_Chats, dtype: float64

In [186]:
# 13 . Total contributation hour for each and every agents weekly basis
df4 = pd.read_csv(r'C:\Users\DELL\Desktop\Desktop\Data Science\Notes\PANDAS\Data set for pandas class 2\AgentLogingReport.csv')
df4['C_Date'] = pd.to_datetime(df4['Date'])
df4['Week'] = df4['C_Date'].dt.week
df4['Agent_Name_Week']=df4['Agent']+df4['Week'].astype(str)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12900\506944094.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df4['Week'] = df4['C_Date'].dt.week

In [187]:
df4['Duration_Time'] = pd.to_datetime(df4['Duration'])

In [199]:
df4['Time_hrs'] = df4['Duration_Time'].dt.hour + ((df4['Duration_Time'].dt.minute)/60) + ((df4['Duration_Time'].dt.hour)/3600)
df4.groupby('Agent_Name_Week')['Time_hrs'].sum()

Agent_Name_Week
Aditya Shinde30     0.033333
Aditya_iot29        6.068056
Aditya_iot30        9.585278
Amersh30            3.017222
Ameya Jain29       24.022500
                     ...
Tarun26            10.136111
Wasim29            19.571667
Wasim30            28.473611
Zeeshan29          24.389722
Zeeshan30          24.640000
Name: Time_hrs, Length: 89, dtype: float64

In [250]:
# 14. total percentage of active hour for a month
# perccentage is calculated w.r.t the number of working days.
# daily working hrs considered as 8 hrs
df5 = df4.groupby(['Agent','C_Date']).sum()
df5['count'] = 1
df6 = df5.groupby(['Agent']).sum()
df6['%_Active_Hrs'] = df6['Time_hrs']/(df6['count']*8)
df6

                         SL No  Week    Time_hrs  count  %_Active_Hrs
Agent
Aditya Shinde              403    30    0.033333      1      0.004167
Aditya_iot                4178   267   15.653333      8      0.244583
Amersh                    1200   120    3.017222      2      0.188576
Ameya Jain                5792   293   41.993611      7      0.749886
Ankitjha                  1481   120    2.233889      2      0.139618
Anurag Tiwari            11525  1106    2.566667     10      0.032083
Aravind                   6885   292   24.239722      7      0.432852
Ayushi Mishra             7770   535   37.991944      9      0.527666
Bharath                   5388   265   47.995833      8      0.749935
Boktiar Ahmed Bappy       6594   505   40.158333      9      0.557755
Chaitra K Hiremath        4153   388   34.225278      7      0.611166
Deepranjan Gupta         29267  1714  105.891389     10      1.323642
Dibyanshu               104994  6139   51.739167      9      0.718600
Harikrishnan Shaji       11810   681   53.512222      9      0.743225
Hrisikesh Neogi          16060  1096   57.277500      9      0.795521
Hyder Abbas               1243    59    0.383333      2      0.023958
Ineuron Intelligence       987    29    1.433611      1      0.179201
Ishawant Kumar           21703  1451   51.411667     11      0.584223
Jawala Prakash            7139   474   46.278056      9      0.642751
Jaydeep Dixit             4797   324   35.742222      7      0.638254
Khushboo Priya            8422   532   43.426944      8      0.678546
Madhulika G               9470   500   45.927778      8      0.717622
Mahesh Sarade            14544  1070   42.692500      8      0.667070
Maitry                    3379   146   30.908333      5      0.772708
Manjunatha A              3666   237   41.227222      7      0.736200
Mithun S                  7385   414   45.078056      8      0.704345
Mukesh                     217    90    8.885278      2      0.555330
Muskan Garg               5886   356   17.270278      6      0.359797
Nandani Gupta             4888   326   40.093056      9      0.556848
Nishtha Jain              8877   532   43.710278      8      0.682973
Nitin M                    765    29    0.783333      1      0.097917
Prabir Kumar Satapathy   14981   766   33.173333      7      0.592381
Prateek _iot              9450   501   18.303889     11      0.207999
Prerna Singh              8779   534   45.594444      9      0.633256
Rishav Dash               7251   353   41.676944      7      0.744231
Saikumarreddy N           5635   294   43.078056      7      0.769251
Sanjeev Kumar            11505   589   44.511389      9      0.618214
Saurabh Shukla           32566  1160   16.586111      4      0.518316
Shiva Srivastava          7028   445   14.903056      8      0.232860
Shivan K                 14780  1068   35.872778      8      0.560512
Shivananda Sonwane        5399   445   49.196111     10      0.614951
Shubham Sharma           20674  1028   53.612500     11      0.609233
Sowmiya Sivakumar        11263   713   44.510000      8      0.695469
Sudhanshu Kumar           7779   322   46.161389      6      0.961696
Suraj S Bilgi              338   150   12.502778      2      0.781424
Swati                     3364   146   24.973333      4      0.780417
Tarun                     1000    26   10.136111      1      1.267014
Wasim                    12149   591   48.045278      9      0.667296
Zeeshan                   5691   294   49.029722      9      0.680968